<div class="login-container">
  <h2>ログイン</h2>
  <%= form_with url: user_session_path, local: true do |form| %>
    <div class="login-form">
      <%= form.email_field :email, class: 'login-control', placeholder: 'メールアドレス' %>
    </div>
    <div class="login-form">
      <%= form.password_field :password, class: 'login-control', placeholder: 'パスワード' %>
    </div>
    <div class="forgot-password">
      <%= link_to 'パスワードを忘れた方はこちら', new_user_password_path, class: 'forgot-password-text' %>
    </div>
    <div class="login-btn">
      <%= form.submit 'ログイン', class: 'btn login-btn-primary' %>
      <%= link_to '新規登録画面へ', new_user_registration_path, class: 'btn login-btn-secondary' %>
    </div>
  <% end %>
</div>