<div class="container">
  <button class="store-details-back-btn">←</button>
  <div class="store-details-section">
    <h2><%= @store_name %></h2>
    <div class="store-details-text">
      <p>徒歩 : <%= @walking_time %></p>
      <p>営業状況 : <%= @business_status %></p>
      <p>営業時間 : <%= @business_hours %></p>
      <p>混雑状況 : <%= @waiting_time %></p>
      <p>電話番号 : <%= @phone_number %></p>
    </div>
      <button class="store-details-btn">このお店に行く</button>

    <div class="divider"></div>

    <div class="store-details-second-section">
      <p>ユーザー名: <%= @user_name %></p>
      <p class="review-text">テキスト: <%= @review_text %></p>
      <button class="store-details-btn">レビューを書く</button>
    </div>
  </div>
</div>