<div data-controller="review-form" class="store-details-container">
  <button class="store-details-back-btn">←</button>
  <div class="store-details-section">
    <h2><%= @store_name %></h2>
    <div class="store-details-text">
      <p>【住所】<br><%= @address %></p>
      <p>【徒歩】<br><%= @walking_time %>分</p>
      <p>【営業状況】<br><%= @business_status %></p>
      <p>【営業時間】<br><%= @business_hours.html_safe %></p>
      <p>【混雑状況】<br><%= @waiting_time %></p>
      <p>【電話番号】<br><%= @phone_number %></p>
    </div>
    <button class="store-details-btn">このお店に行く</button>

    <div class="divider"></div>

    <div class="store-details-second-section">
      <p>ユーザー名: <%= @user_name %></p>
      <p class="review-text">テキスト: <%= @review_text %></p>
      <button class="store-details-btn" data-action="click->review-form#open">レビューを書く</button>
    </div>
  </div>

  <div class="overlay" data-review-form-target="overlay" data-action="click->review-form#close"></div>

  <div id="review-form" class="review-form" data-review-form-target="form">
    <div class="review-form-content">
      <div class="form-group">
        <label for="name">名前:</label>
        <input type="text" id="name">
      </div>
      <div class="form-group">
        <label for="rating">評価:</label>
        <div class="stars">
          <% (1..5).each do |i| %>
            <span class="star" data-value="<%= i %>">&#9733;</span>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="review">レビュー:</label>
        <textarea id="review"></textarea>
      </div>
      <div class="form-group">
        <label for="service">サービス:</label>
        <select id="service">
          <option>5. とても良い</option>
          <option>4. 良い</option>
          <option>3. 普通</option>
          <option>2. あまり良くない</option>
          <option>1. 良くない</option>
        </select>
      </div>
      <div class="form-group">
        <label for="price">価格:</label>
        <select id="price">
          <option>5. とても良い</option>
          <option>4. 良い</option>
          <option>3. 普通</option>
          <option>2. あまり良くない</option>
          <option>1. 良くない</option>
        </select>
      </div>
      <div class="form-group">
        <label for="atmosphere">雰囲気:</label>
        <select id="atmosphere">
          <option>5. とても良い</option>
          <option>4. 良い</option>
          <option>3. 普通</option>
          <option>2. あまり良くない</option>
          <option>1. 良くない</option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">画像:</label>
        <input type="file" id="image">
      </div>
      <div class="form-group">
        <button data-action="click->review-form#close">閉じる</button>
        <button>投稿する</button>
      </div>
    </div>
  </div>
</div>