<div data-controller="review-form" class="store-details-container">
  <button class="store-details-back-btn">←</button>
  <div class="store-details-section">
    <h2><%= @store_name %></h2>
    <div class="store-details-text">
      <p>【住所】<br><%= @address %></p>
      <p>【徒歩】<br><%= @walking_time %>分</p>
      <p>【営業状況】<br><%= @business_status %></p>
      <p>【営業時間】<br><%= @business_hours.html_safe %></p>
      <p>【混雑状況】<br><%= @waiting_time %></p>
      <p>【電話番号】<br><%= @phone_number %></p>
    </div>
    <button class="store-details-btn">このお店に行く</button>

    <div class="divider"></div>

    <div class="store-details-second-section">
      <h3>レビュー</h3>
      <div id="reviews">
        <%= render partial: "store_details/review", collection: @reviews %>
      </div>
      <button class="store-details-btn" data-action="click->review-form#open">レビューを書く</button>
    </div>
  </div>

  <div class="overlay" data-review-form-target="overlay" data-action="click->review-form#close"></div>

  <div id="review-form" class="review-form" data-review-form-target="form">
    <div class="review-form-content">
      <%= form_with url: review_store_details_path, method: :post, remote: true, authenticity_token: true, data: { controller: 'review-form' } do |f| %>
        <div class="form-group">
          <%= f.label :name, '名前:' %>
          <%= f.text_field :name, id: 'name' %>
        </div>
        <div class="form-group">
          <%= f.label :rating, '評価:' %>
          <div class="stars">
            <% (1..5).each do |i| %>
              <span class="star" data-value="<%= i %>">&#9733;</span>
            <% end %>
          </div>
          <%= f.hidden_field :rating, id: 'rating' %>
        </div>
        <div class="form-group">
          <%= f.label :review, 'レビュー:' %>
          <%= f.text_area :review, id: 'review' %>
        </div>
        <div class="form-group">
          <%= f.label :service, 'サービス:' %>
          <%= f.select :service, options_for_select([['5. とても良い', 5], ['4. 良い', 4], ['3. 普通', 3], ['2. あまり良くない', 2], ['1. 良くない', 1]]), {}, id: 'service' %>
        </div>
        <div class="form-group">
          <%= f.label :price, '価格:' %>
          <%= f.select :price, options_for_select([['5. とても良い', 5], ['4. 良い', 4], ['3. 普通', 3], ['2. あまり良くない', 2], ['1. 良くない', 1]]), {}, id: 'price' %>
        </div>
        <div class="form-group">
          <%= f.label :atmosphere, '雰囲気:' %>
          <%= f.select :atmosphere, options_for_select([['5. とても良い', 5], ['4. 良い', 4], ['3. 普通', 3], ['2. あまり良くない', 2], ['1. 良くない', 1]]), {}, id: 'atmosphere' %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :store_name, value: @store_name %>
        </div>
        <div class="form-group">
          <button data-action="click->review-form#close">閉じる</button>
          <%= f.submit '投稿する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>