<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <style>
    .menu-icon {
      cursor: pointer;
      display: inline-block;
    }
    .menu-icon-bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: #333;
    }
    .hamburger-menu {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      width: 200px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .hamburger-menu.open {
      display: block;
    }
    .close-icon {
      cursor: pointer;
      font-size: 20px;
      padding: 10px;
      text-align: right;
    }
  </style>
</head>
<body>
  <div class="content">
  </div>  
  <header class="site-header">
    <div class="header-container">
      <%= link_to root_path, class: 'logo' do %>
        <h1>散歩 de グルメ</h1>
      <% end %>
      <nav class="main-nav">
        <ul>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        </ul>
      </nav>
      <div class="menu-icon" onclick="toggleMenu()">
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
      </div>
    </div>
    <div class="hamburger-menu" id="hamburger-menu">
      <div class="close-icon" onclick="toggleMenu()">×</div>
      <ul>
        <li><%= link_to 'マイページ', mypage_path, class: 'menu-link' %></li>
        <li><%= link_to 'お店を探す', new_search_path, class: 'menu-link' %></li>
        <li><%= link_to 'みんなと話す', community_path, class: 'menu-link' %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'menu-link' %></li>
      </ul>
    </div>
  </header>

  <script>
    function toggleMenu() {
      var menu = document.getElementById('hamburger-menu');
      menu.classList.toggle('open');
    }
  </script>
</body>
</html>